body {

    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
}
/*Aquí van todos los estilos que tienen que ver con la barra de navegación*/
.header {
    position: absolute;

    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 7%;
    box-sizing: border-box;
}
#header__Checkbox {
    display: none;
}
.header__Label {

    margin-left: 2.5%;
    margin-top: 30px;

    font-size: 30px;
    color: white;
}
.header__Img-Palmera {

    margin-top: 30px;
    width: 100px;
}
.header__Nav {
    position: absolute;

    width: clamp(100px, 100%, 100%);
    height: 100vh;
    background-color: #3338;

    transform: translatex(-200%);
    transition: .5s;
}
#header__Checkbox:checked ~ .header__Nav {
    width: 100%;

    transform: translatex(0);
    transition: .5s;
}
#header__Checkbox:checked ~ .header__Label {
    z-index: 20;

    color: black;
}
.header__Ul {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    margin-top: -30px;
    width: clamp(100px, 100%, 550px);
    height: 103%;
    box-sizing: border-box;

    background-color: white;

}
.header__List {
    margin-left: 5%;
    list-style: none;
}
.header__Link {
    font-family: sans-serif;
    color: black;
    list-style: none;
    text-decoration: none;

}
.span__Icono-Opcion {
    font-size: 25px;
}
.header__Link:hover {
    text-decoration: underline;
}
/*Aquí van todos los estilos del la imagen principal*/
.div_Main-Image {

    width: 100%;
    height: 80%;

    background-image: url(Imaganes/Main_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.div_Cape {

    width: 100%;
    height: 80vh;
    display: flex;

    background-color: #3338;
}
.container_Options {
    
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
}
.button_Option {

    margin: 0 20px;
    padding: 6.5px 20px;

    font-family: sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: large;

    border-radius: 10px;
}
@media (max-width: 655px) {
    .button_Option {
        padding: 3.4px 12px;
    }
    .div_Cape, .div__Main-Image {
        height: 50vh;
    }
}

.window_Modal {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
    background-color: red;

    transform: translate(-50%, -50%);
}
/*Aquí van todos los estilos del formulario de la reserva y pedido*/
.separador_Form {
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;

    display: none;
    width: 100%;
    height: 100%;

    background-color: #3338;

    transform: translate(-50%, -50%);
}
.h2_Form {

    margin: 0;
    margin-bottom: 10px;
    padding: 0;

    font-family: Georgia, 'Times New Roman', Times, serif;
}
.form_Reserva-Pedido {
    position: relative;
    top: 50%;
    left: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    
    width: clamp(350px, 70%, 655px);
    height: 50%;


    padding-top: 10px;
    margin-top: 30px;
    transform: translate(-50%, -50%);

    border-radius: 20px;
    background-color: white;
}
#cerrar_Form {
    position: absolute;
    top: 5px;
    right: 0;

    width: 30px;
    height: 30px;
    height: auto;

    background-color: transparent;
    border: none;
}
#cerrar_Form:hover {


    border-radius: 100%;
    background-color: #ccc;

    transition: .3s;
}

.div_Nombre-Pedido {
    position: relative;

    display: flex;

    width: 100%;
    margin-bottom: 25px;



}
.input_Nombre-Apellido{
    
    width: 90%;
    margin: auto;
}
.label_Nombre-Apellido {
    position: absolute;
    left: 5.5%;
    top: 0px;
}
.input_Nombre-Apellido:focus + label, .input_Nombre-Apellido:not(:placeholder-shown) + label {
    top: -22px;
    transition: .2s;
}
.div_Date-Time {

    display: flex;
    justify-content: space-around;

}
.div_Date, .div_Time {

    margin: 10px;
    width: 79%;
}
#dt, #hr {
    width: 100%;
}
textarea {
    resize: none;

    width: 80%;
}

